<%- include('../partials/header') %>

<main class="main" id="errorMain">
    <div class="container">
        <figure class="figure mx-auto w-50">
            <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-animation-download-in-lottie-json-gif-static-svg-file-formats--space-spaceman-find-the-ultimate-pack-design-development-animations-3299959.gif" alt="404 error" class="img-fluid error-gif figure-img">
            <figcaption class="figure-caption text-center">Slap me around and call me Susan. This page is nowhere to be found.</figcaption>
        </figure>
    </div>
</main>


<%- include('../partials/footer') %>